<h1>Suppliers</h1>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @suppliers.each do |supplier| %>
    <tr>
      <td><%= supplier.id %></td>
      <td><%= supplier.name %></td>
      <td>
        <%= link_to 'Mostrar', supplier %>
        <%= link_to 'Editar', edit_supplier_path(supplier) %>
        <%= link_to 'Excluir', supplier, method: :delete, data: { confirm: 'Tem certeza?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Novo Produto', new_supplier_path %>

